In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [50]:
df = pd.read_csv('data/test_task5 - test_task5.csv', error_bad_lines=False, thousands=',')

In [51]:
df['Date'] = pd.to_datetime(df['Date'],format='%m/%d/%Y')

In [52]:
df['Application price'] = [float(x[1:]) for x in df['Application price']]
df['Marketing spend'] = [float(str(x[1:]).replace(',', '')) for x in df['Marketing spend']]
df['Cost per install'] = [float(x[1:]) for x in df['Cost per install']]

df.rename(index=str, inplace=True, columns={'Application price' : 'Application price($)',
                                            'Marketing spend' : 'Marketing spend($)',
                                            'Cost per install' : 'Cost per install($)'})

In [54]:
df.head(5)

,Date,Day,Application price($),Total app installs (marketing+organic from store),Impressions,Clicks,Marketing spend($),Installs from Marketing campaigns,Cost per install($)
0,2016-02-05,Fri,9.99,581,1001408,21061,1539.76,435,3.54
1,2016-02-06,Sat,9.99,763,788496,20019,2376.65,697,3.41
2,2016-02-07,Sun,9.99,911,791029,21173,3112.73,785,3.97
3,2016-02-08,Mon,9.99,725,627044,15685,2090.64,616,3.39
4,2016-02-09,Tue,9.99,701,598842,14721,1987.10,603,3.30

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 135 entries, 0 to 134
Data columns (total 9 columns):
Date                                                 135 non-null datetime64[ns]
Day                                                  135 non-null object
Application price($)                                 135 non-null float64
Total app installs (marketing+organic from store)    135 non-null int64
Impressions                                          135 non-null int64
Clicks                                               135 non-null int64
Marketing spend($)                                   135 non-null float64
Installs from Marketing campaigns                    135 non-null int64
Cost per install($)                                  135 non-null float64
dtypes: datetime64[ns](1), float64(3), int64(4), object(1)
memory usage: 10.5+ KB