<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [212]:
import pandas as pd
import os
from datetime import date as dt
import sys

In [213]:
sys.argv

['C:\\anaconda\\lib\\site-packages\\ipykernel_launcher.py',
 '-f',
 'C:\\Users\\ipus\\AppData\\Roaming\\jupyter\\runtime\\kernel-3fbbd5e3-3d82-434c-8f62-334690ab45e4.json']

In [142]:
df = pd.read_csv('Activity_Days.csv', sep=';')

      id          Date
0      1  01--01--2018
1      2  02--01--2018
2      3  02--01--2018
3      4  03--01--2018
4      5  04--01--2018
..   ...           ...
397  398  16--10--2019
398  399  16--10--2019
399  400  23--10--2019
400  401  23--10--2019
401  402  31--10--2019

[402 rows x 2 columns]

In [81]:
df.info()

# видим, что признак Date является объектом

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 402 entries, 0 to 401
Data columns (total 2 columns):
id      402 non-null int64
Date    402 non-null object
dtypes: int64(1), object(1)
memory usage: 6.4+ KB

Преобразуем строку Date к типу Pandas.Date, чтобы было значительно проще этим оперировать.

In [175]:
df['Date'] = pd.to_datetime(df.Date, format='%d--%m--%Y')

df

# теперь тип признака Date стал datetime64 - то что нам нужно.

      id       Date
0      1 2018-01-01
1      2 2018-01-02
2      3 2018-01-02
3      4 2018-01-03
4      5 2018-01-04
..   ...        ...
397  398 2019-10-16
398  399 2019-10-16
399  400 2019-10-23
400  401 2019-10-23
401  402 2019-10-31

[402 rows x 2 columns]

In [219]:
pd.date_range('2018-01-01', '2019-12-31')

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06', '2018-01-07', '2018-01-08',
               '2018-01-09', '2018-01-10',
               ...
               '2019-12-22', '2019-12-23', '2019-12-24', '2019-12-25',
               '2019-12-26', '2019-12-27', '2019-12-28', '2019-12-29',
               '2019-12-30', '2019-12-31'],
              dtype='datetime64[ns]', length=730, freq='D')

In [287]:
buffer = []
for date in pd.date_range('2018-01-01', '2019-12-31'): # можно указать dt.today()
   
    # Tuesday - 1, Friday - 4
    if dt.weekday(date) == 1 or dt.weekday(date) == 4:
        print(dt.weekday(date), buffer)
        if buffer:
            with open(f'D:/Send_All/Send_{date.date().strftime("%d-%m-%y")}.csv', 'w') as file:
                file.write(','.join(map(str, buffer)) + ',' + date.date().strftime("%d-%m-%y"))
                
            buffer.clear()
            
    if df[df.Date == str(date)]['id'].tolist():
        buffer += df[df.Date == str(date)]['id'].tolist()

1 [1]
4 [2, 3, 4, 5]
1 []
4 [6, 7, 8, 9, 10]
1 [11, 12]
4 [13, 14]
1 [15, 16, 17]
4 [18, 19, 20]
1 [21, 22, 23, 24, 25, 26]
4 [27, 28]
1 [29, 30, 31]
4 []
1 [32, 33]
4 [34, 35]
1 [36, 37]
4 [38]
1 [39, 40]
4 [41, 42]
1 [43, 44]
4 [45, 46, 47, 48, 49, 50, 51, 52]
1 [53]
4 [54, 55, 56, 57]
1 [58]
4 [59, 60]
1 [61, 62]
4 []
1 [63]
4 []
1 [64, 65, 66]
4 [67]
1 [68, 69, 70, 71, 72]
4 [73]
1 []
4 [74]
1 [75]
4 [76, 77]
1 [78, 79]
4 [80, 81, 82, 83]
1 [84, 85, 86]
4 [87]
1 [88, 89, 90]
4 [91]
1 [92, 93]
4 [94]
1 [95, 96, 97, 98, 99, 100]
4 [101, 102]
1 [103, 104]
4 []
1 []
4 [105]
1 [106, 107]
4 [108, 109, 110]
1 [111, 112]
4 [113, 114]
1 [115, 116]
4 [117]
1 [118, 119]
4 [120, 121, 122]
1 [123, 124]
4 [125]
1 [126, 127]
4 [128, 129]
1 [130, 131, 132]
4 [133, 134, 135]
1 [136]
4 [137, 138, 139, 140, 141]
1 [142, 143]
4 [144, 145]
1 [146, 147, 148, 149]
4 [150, 151, 152]
1 [153, 154]
4 [155, 156, 157, 158, 159, 160]
1 [161, 162, 163, 164, 165, 166]
4 [167]
1 [168, 169]
4 [170, 171, 172]
1 [173, 174, 175, 176, 177, 178]
4 [179]
1 [180, 181, 182, 183]
4 [184, 185, 186]
1 [187]
4 [188, 189, 190, 191, 192, 193]
1 [194, 195]
4 [196, 197, 198, 199]
1 [200, 201, 202]
4 [203, 204]
1 [205]
4 [206, 207]
1 [208, 209, 210, 211, 212]
4 [213, 214, 215, 216]
1 [217]
4 [218, 219]
1 [220]
4 [221]
1 [222]
4 [223]
1 [224, 225, 226, 227]
4 []
1 []
4 []
1 [228, 229, 230]
4 [231, 232]
1 []
4 [233, 234, 235]
1 [236, 237, 238]
4 []
1 [239, 240, 241]
4 [242]
1 [243, 244]
4 [245]
1 [246]
4 [247, 248]
1 [249, 250, 251]
4 [252, 253, 254]
1 [255, 256]
4 [257, 258, 259, 260]
1 [261, 262]
4 [263, 264, 265, 266]
1 [267, 268]
4 [269, 270]
1 [271]
4 [272, 273]
1 [274, 275]
4 [276]
1 []
4 []
1 [277, 278, 279, 280]
4 [281]
1 [282, 283]
4 [284]
1 []
4 []
1 [285, 286, 287]
4 [288, 289]
1 [290, 291, 292]
4 [293]
1 [294]
4 [295, 296]
1 []
4 [297, 298, 299]
1 [300]
4 []
1 [301]
4 [302]
1 [303]
4 []
1 [304, 305, 306, 307, 308]
4 [309, 310, 311, 312]
1 [313, 314]
4 []
1 [315, 316]
4 [317, 318, 319]
1 [320, 321, 322]
4 [323]
1 [324, 325, 326]
4 []
1 [327]
4 [328, 329, 330, 331, 332]
1 [333, 334, 335, 336]
4 [337, 338, 339]
1 []
4 []
1 [340, 341, 342]
4 [343, 344, 345]
1 [346, 347]
4 [348, 349]
1 [350, 351, 352, 353, 354]
4 [355, 356]
1 [357]
4 [358]
1 [359, 360, 361]
4 [362]
1 [363]
4 [364, 365]
1 []
4 [366, 367]
1 [368]
4 []
1 [369, 370]
4 [371, 372, 373, 374, 375]
1 [376, 377, 378]
4 [379]
1 [380, 381]
4 [382, 383, 384, 385, 386]
1 [387, 388, 389]
4 [390]
1 [391, 392, 393, 394, 395, 396, 397]
4 [398, 399]
1 []
4 [400, 401]
1 []
4 [402]
1 []
4 []
1 []
4 []
1 []
4 []
1 []
4 []
1 []
4 []
1 []
4 []
1 []
4 []
1 []
4 []
1 []

In [275]:
str(pd.date_range('2018-01-01', '2019-12-31')[0])

'2018-01-01 00:00:00'

In [265]:
dt.weekday(pd.date_range('2018-01-01', '2019-12-31')[0])

0

In [278]:
if df[df.Date == str(pd.date_range('2018-01-01', '2019-12-31')[0])]['id'].tolist():
    print(df[df.Date == str(pd.date_range('2018-01-01', '2019-12-31')[0])]['Date'].tolist())

[Timestamp('2018-01-01 00:00:00')]

In [285]:
a = [2]
a = a + [12, 22]
a

[2, 12, 22]

In [286]:
','.join(map(str, a))

'2,12,22'