In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [2]:
df = pd.read_csv('marathon_athlete_events.csv', sep=',')

C:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [93]:
df[(df.Year == 2016) ]['ID'].nunique()

11179

In [83]:
df[(df.Year == 2016)].groupby(by='Sex').count()

,ID,Name,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,region
Sex,,,,,,,,,,,,,,,
Female,6223,6223,6223,6156,6131,6223,6223,6223,6223,6223,6223,6223,6223,969,6218
Male,7465,7465,7465,7356,7334,7465,7465,7465,7465,7465,7465,7465,7465,1054,7457

In [95]:
df[(df.Year == 2016)]['ID'].unique()

array([   22,    51,    55, ...,  5414, 39949, 39312], dtype=int64)

In [97]:
df[(df.Year == 2016)].groupby('Name')['ID'].unique()

Name
  Gabrielle Marie "Gabby" Adcock (White-)       [869]
 Th Anh                                       [29842]
Aaron Arthur Cook                             [22835]
Aaron Brown                                   [15460]
Aaron Gate                                    [39016]
Aaron John Royle                             [103079]
Aaron Russell                                [103595]
Aaron Younger                                [133243]
Aauri Lorena Bokesa Abia                      [12909]
Ababel Yeshaneh Birhane                      [132909]
Abadi Hadis Embaye                            [44616]
Abbas Qali                                    [97735]
Abbey Weitzeil                               [129476]
Abbos Rakhmonov                               [98502]
Abbubaker Mobara                              [80730]
Abby May Erceg                                [32815]
Abdalelah Haroun Hassan                       [46110]
Abdalla Yousif                               [133252]
Abdel Aziz Mehelba                            [78176]
Abdel Aziz Merzougui Noureddine               [78998]
Abdel Rahman Salah Orabi Abdelgawwad         [104600]
Abdelati El-Guesse                            [32000]
Abdelaziz Mohamed Ahmed                       [80932]
Abdelghani Demmou                             [27503]
Abdelhafid Benchabla                           [9968]
Abdelhalim Muhammad Abou                        [468]
Abdelkader Chadi                              [19536]
Abdelkebir Ouaddar                            [90052]
Abdelkhalek El-Banna                          [31937]
Abdellatif Mohamed Ahmed Mohamed              [80880]
                                               ...
rika Alejandra Olivera de la Fuente           [88769]
rika Cristiano dos Santos                     [32920]
rika Cristina de Souza                        [32921]
rika de Souza Miranda                         [80239]
ron Gdorfalvi                                 [37855]
ron Szilgyi                                  [117523]
rsula Sarah Gonzlez Garate                    [41656]
sa Nilla Maria Fischer                        [35526]
scar Albeyro Figueroa Mosquera                [35261]
scar Carrera Amandi                           [18534]
scar Leonardo Salas Miranda                  [104635]
scar Soliz Vilca                             [112935]
sds Hjlmsdttir                                [48874]
skhbayaryn Chagnaadorj                        [89789]
smail Kele                                    [58485]
talo Manzine Amaral Duarte Garfalo            [30228]
tienne Hubert                                 [50735]
ukasz Gierak                                  [40203]
ukasz Grzeszczuk                              [43383]
ukasz Krawczuk                                [63900]
ukasz Kubot                                   [64547]
ukasz Nowak                                   [87218]
ukasz Przybytek                               [97328]
urea Esther "Aury" Cruz                       [24032]
urina Jaukovi                                 [54042]
va Csernoviczki                               [24111]
va Risztov                                   [101041]
zge Bayrak                                     [8931]
zlem Kaya                                     [58232]
zzet Safer                                   [104222]
Name: ID, Length: 11174, dtype: object